In [76]:
import plotly.express as px
import numpy as np
import pandas as pd

In [81]:
df = pd.DataFrame({'x': [i/10 for i in range(1,101)], 
                  'Squared'[(i/10)**2 for i in range(1,101)],
                     [np.sqrt(i) for i in range(1,101)]})

In [82]:
df

       x
0    0.1
1    0.2
2    0.3
3    0.4
4    0.5
..   ...
95   9.6
96   9.7
97   9.8
98   9.9
99  10.0

[100 rows x 1 columns]